# Import libraries

In [1]:
import numpy as np
import pandas as pd

import datetime
import requests
from prettytable import PrettyTable

import zipfile

import matplotlib.pyplot as plt

pd.set_option('display.max_columns', 50)
pd.set_option('display.max_rows', 200)

# Adding data variables

In [2]:
path_data_variables = 'data/variables_data/'

In [36]:
### Stock exchange indices ###

# WIG20 
# from: https://stooq.com/q/d/?s=wig20&c=0
wig20_d = pd.read_csv(path_data_variables+'wig20_d.csv')

# S&P 500 
# from: https://stooq.com/q/d/?s=%5Espx&c=0
spx_d = pd.read_csv(path_data_variables+'^spx_d.csv')
spx_d.columns = spx_d.columns.map(lambda x : 'spx_' + x if x !='Date' else x)

# DAX 
# from: https://stooq.com/q/d/?s=%5Edax&c=0
dax_d = pd.read_csv(path_data_variables+'^dax_d.csv')
dax_d.columns = dax_d.columns.map(lambda x : 'dax_' + x if x !='Date' else x)

### Leading indicators ###

# PMI for Poland in months
# from: https://stooq.com/q/d/?s=pmmnpl.m&c=0
pmi_pl = pd.read_csv(path_data_variables+'pmmnpl_m_d.csv')
pmi_pl = pmi_pl.drop(columns=['High', 'Low', 'Open'])
pmi_pl.rename({'Close': 'PMI_PL'}, axis=1, inplace=True)

# PMI for USA in months
# from: https://stooq.com/q/d/?s=pmchus.m&c=0
pmi_us = pd.read_csv(path_data_variables+'pmchus_m_d.csv')
pmi_us = pmi_us.drop(columns=['High', 'Low', 'Open'])
pmi_us.rename({'Close': 'PMI_US'}, axis=1, inplace=True)

# CLI for Poland in months
# from: https://fred.stlouisfed.org/series/POLLOLITONOSTSAM
cli_pl = pd.read_csv(path_data_variables+'POLLOLITONOSTSAM.csv')
cli_pl.rename({'DATE': 'Date', 'POLLOLITONOSTSAM': 'CLI_PL'}, axis=1, inplace=True)

### Fundamental data ###

# P/E for WIG20 
# from: https://stooq.com/q/d/?s=wig20_pe&c=0
wig20_pe_d = pd.read_csv(path_data_variables+'wig20_pe_d.csv')
wig20_pe_d = wig20_pe_d.drop(columns=['High', 'Low', 'Open'])
wig20_pe_d.rename({'Close': 'WIG_20_P/E'}, axis=1, inplace=True)

# P/BV for WIG20 
# from: https://stooq.com/q/d/?s=wig20_pb&c=0
wig20_pb_d = pd.read_csv(path_data_variables+'wig20_pb_d.csv')
wig20_pb_d = wig20_pb_d.drop(columns=['High', 'Low', 'Open'])
wig20_pb_d.rename({'Close': 'WIG_20_P/BV'}, axis=1, inplace=True)

# DIVIDEND YIELD for WIG20 
# from: https://stooq.com/q/d/?s=wig20_pb&c=0
wig20_dy_d = pd.read_csv(path_data_variables+'wig20_dy_d.csv')
wig20_dy_d = wig20_dy_d.drop(columns=['High', 'Low', 'Open'])
wig20_dy_d.rename({'Close': 'WIG_20_P/BV'}, axis=1, inplace=True)


### KAPITALIZACJA GIEŁDY DO PKB KRAJU - str 55 ###

In [37]:
wig20_d

            Date     Open     High      Low    Close    Volume
0     1991-04-16   100.00   100.00   100.00   100.00       325
1     1991-04-23    95.70    95.70    95.70    95.70      5905
2     1991-04-30    93.50    93.50    93.50    93.50      7162
3     1991-05-14    92.90    92.90    92.90    92.90     18300
4     1991-05-21    95.50    95.50    95.50    95.50     14750
...          ...      ...      ...      ...      ...       ...
6989  2021-01-18  1985.59  2023.74  1970.06  2023.74  32644709
6990  2021-01-19  2034.26  2047.11  1980.12  1980.12  32703284
6991  2021-01-20  1983.49  1998.43  1960.82  1986.09  26554080
6992  2021-01-21  1997.58  2007.64  1948.97  1953.49  25603661
6993  2021-01-22  1945.01  1965.14  1934.61  1952.67  21137609

[6994 rows x 6 columns]

In [38]:
wig20_dy_d

            Date  WIG_20_P/BV
0     2007-08-23        2.365
1     2007-08-24        2.330
2     2007-08-27        2.340
3     2007-08-28        2.375
4     2007-08-29        2.350
...          ...          ...
3348  2021-01-18        0.650
3349  2021-01-19        0.655
3350  2021-01-20        0.655
3351  2021-01-21        0.670
3352  2021-01-22        0.660

[3353 rows x 2 columns]